<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>About Us</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas condimentum nisl et consequat. Proin efficitur lorem in purus porttitor consequat. Sed eu hendrerit arcu. Aliquam ut congue leo. Praesent suscipit nisi ut sapien laoreet lacinia. Donec molestie placerat ante sed mollis. Nunc ultrices nulla at ultrices congue. Vestibulum blandit, arcu a viverra elementum, felis lorem elementum velit, gravida tincidunt justo arcu malesuada mi. Fusce non ex pretium, sagittis urna sed, cursus sem.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
