<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      λ Calculus Calculator 
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="container">
  <ion-card-title>
  </ion-card-title>
  <ion-toolbar style="border: 1px solid black">
    <ion-input [(ngModel)]="equation" placeholder="λ calculus equation Here"></ion-input>
    <ion-buttons slot="primary">
      <ion-button (click)="onEvalLambdaEquation($event)" shape="round" fill="solid" color="secondary" class="circle-button">
        <ion-icon slot="icon-only" name="calculator"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>