<ion-header>
  <ion-toolbar color="primary">
    	<ion-buttons slot="secondary" class="searchbar">
      		<ion-searchbar searchIcon="wifi" placeholder="IP Address"></ion-searchbar>
    	</ion-buttons>
    	<ion-title>IP Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content></ion-content>

<ion-footer>
	<ion-toolbar>
    	<ion-textarea rows="1" placeholder="Type a message"></ion-textarea>
	    <ion-buttons slot="primary">
      		<ion-button class="circle-button" shape="round" fill="solid">
	        	<ion-icon slot="icon-only" name="send"></ion-icon>
	     	</ion-button>
	    </ion-buttons>
  	</ion-toolbar>
</ion-footer>